<?xml version="1.0" ?>
<model>
  <name>my_camera_model</name>
  <version>1.0</version>
  <sdf version="1.6">ext_camera.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>

  <description>
    A simple camera model for Gazebo with custom topic names for image and camera info.
  </description>
</model>
