<?xml version="1.0" ?>
<model>
    <name>bottle</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Andrea Mazzera</name>
       <email>andreamazzera@hotmail.it</email>
      </author>
    
    <description>
      Model of bottle object employed for test in Gazebo 
      of non-prehensile manipulation with tray. On the one side 
      of cube is present a AprilTag of family 36h11 with tag ID 1. 
    </description>
</model>
