<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="kuka_iiwa" params="prefix *origin">
    
    <!-- LINKS -->
    <link name="${prefix}world"/>
    <joint name="${prefix}grouding" type="fixed">
      <parent link="${prefix}world"/>
      <child link="${prefix}base_link"/>
      <xacro:insert_block name="origin" />      
      <axis xyz="0 0 0"/>
    </joint>

    <!-- link list -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/base_link.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/base_link.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_1.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_1.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_2.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_2.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_3.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_3.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_4.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_4.stl" />
        </geometry>
      </collision>
        <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_5.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_5.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_6.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_6.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>
    <link name="${prefix}link_7">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/link_7.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/link_7.stl" />
        </geometry>
      </collision>
        <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
      </inertial>
    </link>

   
  <link name="${prefix}tray">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/visual/tray.dae" />
        </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iiwa_description/meshes/collision/planar_end_eff_collision.stl" />
        </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1" />
          <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.1" />
    </inertial>
  </link>
   
  <gazebo reference="${prefix}tray">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
      <kp value="1000000" />
  	  <kd value="1000" />
  </gazebo>

    <!-- end of link list -->

    <!-- joint list -->
    <joint name="${prefix}joint_a1" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}link_1" />
      <axis xyz="0 0 1" />
      <limit lower="-2.9668" upper="2.9668" effort="320" velocity="1.4834" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a2" type="revolute">
      <origin xyz="-0.00043624 0 0.36" rpy="0 0 0" />
      <parent link="${prefix}link_1" />
      <child link="${prefix}link_2" />
      <axis xyz="0 1 0" />
      <limit lower="-2.0942" upper="2.0942" effort="320" velocity="1.4834" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a3" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}link_2" />
      <child link="${prefix}link_3" />
      <axis xyz="0 0 1" />
      <limit lower="-2.9668" upper="2.9668" effort="176" velocity="1.7452" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a4" type="revolute">
      <origin xyz="0.00043624 0 0.42" rpy="0 0 0" />
      <parent link="${prefix}link_3" />
      <child link="${prefix}link_4" />
      <axis xyz="0 -1 0" />
      <limit lower="-2.0942" upper="2.0942" effort="176" velocity="1.3089" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a5" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}link_4" />
      <child link="${prefix}link_5" />
      <axis xyz="0 0 1" />
      <limit lower="-2.9668" upper="2.9668" effort="110" velocity="2.2688" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a6" type="revolute">
      <origin xyz="0 0 0.4" rpy="0 0 0" />
      <parent link="${prefix}link_5" />
      <child link="${prefix}link_6" />
      <axis xyz="0 1 0" />
      <limit lower="-2.0942" upper="2.0942" effort="40" velocity="2.356" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a7" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}link_6" />
      <child link="${prefix}link_7" />
      <axis xyz="0 0 1" />
      <limit lower="-3.0541" upper="3.0541" effort="40" velocity="2.356" />
      <dynamics damping="50" friction="1"/>
    </joint>
    <joint name="${prefix}joint_a7-tool0" type="fixed">
      <origin xyz="0 0 0.126" rpy="0 0 0" />
      <parent link="${prefix}link_7" />
      <child link="${prefix}tray" />
      <axis xyz="0 0 0" />
      <dynamics friction="1.0"/>
    </joint>
  </xacro:macro>
</robot>
