<?xml version="1.0"?>
<!-- Kuka iiwa 7DoF manipulator with Camera and Force/Torque sensor-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="kuka_iiwa">
  
  <!-- _______________________________________________________________________________________ -->
  <!-- ________________Arguments = configurable variable from the launch file_________________ -->
  <xacro:arg name="base_frame_file" default="$(find iiwa_description)/config/base_frame.yaml" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="namespace" default="/" />
  <!-- _______________________________________________________________________________________ -->
  <!-- _________________________Properties = local constants__________________________________ -->

  <xacro:property name="iiwa_flange_height" value="0.045"/>
  <xacro:property name="base_frame_file" value="$(arg base_frame_file)"/>
  <xacro:property name="base_frame" value="${xacro.load_yaml(base_frame_file)['base_frame']}"/>

  <!-- _______________________________________________________________________________________ -->
  <!-- ___________________________________ROBOT MODEL ________________________________________ -->

  <xacro:include filename="$(find iiwa_description)/urdf/kuka_iiwa_macro.xacro" />
  <xacro:kuka_iiwa prefix="$(arg prefix)">
    <origin 
    xyz="${base_frame['x']} ${base_frame['y']} ${base_frame['z']}"
    rpy="${base_frame['roll']} ${base_frame['pitch']} ${base_frame['yaw']}" />
  </xacro:kuka_iiwa>

  <!-- _______________________________________________________________________________________ -->
  <!-- ___________________________________ROS CONTROL ________________________________________ -->

  <!-- Gazebo Ros Control Plugin -->
  <xacro:include filename="$(find iiwa_description)/urdf/gazebo_ros_effort_control.xacro"/>

  <!-- Trasmission Blocks -->
  <xacro:include filename="$(find iiwa_description)/urdf/trasmission.xacro"/>
  <xacro:transmission_block name="1"/>
  <xacro:transmission_block name="2"/>
  <xacro:transmission_block name="3"/>
  <xacro:transmission_block name="4"/>
  <xacro:transmission_block name="5"/>
  <xacro:transmission_block name="6"/>
  <xacro:transmission_block name="7"/>

  <!-- _______________________________________________________________________________________ -->
  <!-- ___________________________________SENSORS_____________________________________________ -->

  <!-- Force/Torque Sensor -->
  <xacro:include filename="$(find iiwa_description)/urdf/ft_sensor.xacro" />
  <xacro:ft_sensor measure_joint="joint_a7-tool0"/>

  <!-- Camera sensor -->
  <xacro:include filename="$(find iiwa_description)/urdf/camera.xacro" />

  <!-- External camera sensor 
  <xacro:include filename="$(find iiwa_description)/urdf/external_camera.xacro" />
  -->
  <!-- _______________________________________________________________________________________ -->

</robot>
