<?xml version="1.0"?>
<robot name="camera_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Fixed frame "world" -->
  <link name="world">
    <!-- No visual or collision properties needed for the fixed frame -->
  </link>

  <!-- Camera link -->
  <link name="camera">
    <!-- Define the camera link visual properties (optional) -->
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <!-- Joint connecting world to camera_link_optical -->
  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera"/>
    <!-- Position the camera frame with the z-axis pointing down -->
    <origin xyz="0.54 -0.195 0.68" rpy="3.14 0 0"/>
  </joint>


</robot>
